In [16]:
class Hash:
    def __init__(self):
        self.max = 100
        self.arr = [None for i in range(self.max)]
        
    def hash_func(self, a_key):
        h = 0
        for i in a_key:
            h += ord(i)
        return h % self.max
    
    def __setitem__(self, key, val):
        h = self.hash_func(key)
        self.arr[h] = val
        
    def __getitem__(self, key):
        h = self.hash_func(key)
        return self.arr[h]
    
    def __delitem__(self,key):
        h = self.hash_func(key)
        self.arr[h] = None
    
HM = Hash()
HM['fine'] = 23
HM['heat'] = 22
HM['pint'] = 19
del HM['hot']
print(HM['fine'])
print(HM['heat'])
HM.arr

22
22

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 22,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 19,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

#### Handling collisions(chaining)

In [18]:
class Hash:
    def __init__(self):
        self.max = 100
        self.arr = [[] for _ in range(self.max)]
        
    def hash_func(self, a_key):
        h = 0
        for i in a_key:
            h += ord(i)
        return h % self.max
    
    def __setitem__(self, key, val):
        h = self.hash_func(key)
        found = False
        for indx, element in enumerate(self.arr[h]):
            if len(element) == 2 and element[0] == key:
                self.arr[h][indx] = (key, val)#here
                found = True
                break
        if not found:    
            self.arr[h].append((key, val))
        
    def __getitem__(self, key):
        h = self.hash_func(key)
        for i in self.arr[h]:
            if i[0] == key:
                return i[1]
    
    def __delitem__(self, key):
        h = self.hash_func(key)
        for indx, element in enumerate(self.arr[h]):
            if element[0] == key:
                del self.arr[h][indx]
                break
    
HM = Hash()
HM['fine'] = 23
HM['heat'] = 22
HM['pint'] = 19
del HM['hot']
print(HM['fine'])

HM.arr

23

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('fine', 23), ('heat', 22)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('pint', 19)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 []]

In [19]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Define the start and end dates
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 1, 30)

# Generate list of dates
date_range = [start_date + timedelta(days=i) for i in range((end_date - start_date).days + 1)]

# Generate random weather temperatures
weather_temperatures = [random.randint(20, 60) for _ in range(len(date_range))]

# Create DataFrame
weather_df = pd.DataFrame({
    'Date': date_range,
    'Weather (F)': weather_temperatures
})

# Convert date to string
weather_df['Date'] = weather_df['Date'].dt.strftime('%Y-%m-%d')

# Save DataFrame to CSV
weather_df.to_csv('new_york_weather.csv', index=False)

In [20]:
df = pd.read_csv('new_york_weather.csv')

In [21]:
df

          Date  Weather (F)
0   2024-01-01           25
1   2024-01-02           32
2   2024-01-03           57
3   2024-01-04           55
4   2024-01-05           45
5   2024-01-06           58
6   2024-01-07           44
7   2024-01-08           59
8   2024-01-09           26
9   2024-01-10           37
10  2024-01-11           20
11  2024-01-12           42
12  2024-01-13           33
13  2024-01-14           55
14  2024-01-15           27
15  2024-01-16           50
16  2024-01-17           46
17  2024-01-18           59
18  2024-01-19           35
19  2024-01-20           38
20  2024-01-21           50
21  2024-01-22           58
22  2024-01-23           57
23  2024-01-24           57
24  2024-01-25           43
25  2024-01-26           33
26  2024-01-27           31
27  2024-01-28           31
28  2024-01-29           39
29  2024-01-30           28

In [45]:
df['Weather (F)'][:7].mean()

45.142857142857146

In [46]:
df['Weather (F)'][:10].max()

59

In [53]:
df[df['Date'] == '2024-01-09']

         Date  Weather (F)
8  2024-01-09           26

In [54]:
df[df['Date'] == '2024-01-04']

         Date  Weather (F)
3  2024-01-04           55

1. a. what is the average temperature in firest week of jan

    b. what is the max temperature in first 10 days of jan
    
2. what wass the temp on jan 9
    what was the temp on jan 43
    
3. 'road not taken' by poet robert frost
read file into python and print every word and it's count; think of the data structure for this

In [23]:
arr = []

with open("new_york_weather.csv","r") as f:
    for line in f:
        tokens = line.split(',')
        try:
            temperature = int(tokens[1])
            arr.append(temperature)
        except:
            print("Invalid temperature.Ignore the row")

Invalid temperature.Ignore the row

In [31]:
sum(arr[:7]) / len(arr[:7])

45.142857142857146

In [32]:
max(arr[:10])

59

In [40]:
weather_dict = {}

with open("new_york_weather.csv","r") as f:
    for line in f:
        tokens = line.split(',')
        day = tokens[0]
        try:
            temperature = int(tokens[1])
            weather_dict[day] = temperature
        except:
            print("Invalid temperature.Ignore the row")

Invalid temperature.Ignore the row

In [44]:
weather_dict

{'2024-01-01': 25,
 '2024-01-02': 32,
 '2024-01-03': 57,
 '2024-01-04': 55,
 '2024-01-05': 45,
 '2024-01-06': 58,
 '2024-01-07': 44,
 '2024-01-08': 59,
 '2024-01-09': 26,
 '2024-01-10': 37,
 '2024-01-11': 20,
 '2024-01-12': 42,
 '2024-01-13': 33,
 '2024-01-14': 55,
 '2024-01-15': 27,
 '2024-01-16': 50,
 '2024-01-17': 46,
 '2024-01-18': 59,
 '2024-01-19': 35,
 '2024-01-20': 38,
 '2024-01-21': 50,
 '2024-01-22': 58,
 '2024-01-23': 57,
 '2024-01-24': 57,
 '2024-01-25': 43,
 '2024-01-26': 33,
 '2024-01-27': 31,
 '2024-01-28': 31,
 '2024-01-29': 39,
 '2024-01-30': 28}

In [55]:
weather_dict['2024-01-05']

45

In [56]:
weather_dict['2024-01-09']

26